:host {
  display: block;
}

.table-responsive {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  border-radius: 0.75rem;
}

.table {
  margin-bottom: 0;
}

.modal-backdrop {
  opacity: 0.25;
}
